li {
    font-size: 18px;
    color: #6c757d!important;
}

.skills-div {
    margin: auto auto 80px;
    width: fit-content;
    padding: 20px;
}

.left-soft {
    display:inline-block;
    text-align: left;
    margin-right: 50px;
    margin-left: 80px;
}

.right-hard {
    display:inline-block;
    float: right;
}

@media only screen and (max-width: 540px) {
    .left-soft {
        margin-left: 90px;
        text-align: center;
        float: left;
    }

    .right-hard {
        margin-right: 90px;
        text-align: center;
        float: right;
    }
}
