h1 {
    text-align: center;
}

.CV-header {
    margin: 30px;
}

.date {
    margin-top: -70px;
    opacity: .8;
    font-size: .8rem;
    font-weight: 900;
    color: #6c757d;
    float: right;
}

.work-experience {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border-bottom: #ddd 1px solid;
}

.work-experience h3 {
    text-align: left;
}

.work-experience p {
    text-align: left;
}

.company {
    font-size: 15px;
    border-radius: 2em;
    padding: 2px 8px;
    margin-top: 10px;
    width: fit-content;
    background-color: dodgerblue;
    color: white;
}

.establishment {
    font-size: 15px;
    padding: 2px 8px;
    width: fit-content;
    background-color: #20c997;
    color: white;
    border-radius: 2em;
}

.hobbie-descriptions {
    margin: auto;
    width: 40%;
}

.hobbies {
    color: #6c757d!important;
    text-align: center;
}

.description {
    color: #6c757d!important;
}

.contact-info-box {
    -webkit-box-shadow: 0px 0px 53px -18px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 53px -18px rgba(0,0,0,0.28);
    box-shadow: 0 2px 10px rgba(0,0,0,.1);

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 350px;
    width: 30%;

    padding-top: 30px;
}

.contact-info {
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
}

.contact-info-header {
    margin-left: 30px;
}

.contact-info-icons {
    margin-left: 20px;
    width: 14%;
}

.icon-ref {
    color: dodgerblue;
}

.references {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}