.center-page {
    text-align: center;
}

span.spacer:after {
    display:inline-block;
    margin-bottom: 50px;
    margin-top: 30px;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#000), to(#fff));
    vertical-align:middle;
    position:relative;
    top:15px;
    bottom: 15px;
}

.contact-me {
    border-radius: 2em;
    padding: 10px;
    background-color: white;
    color: dodgerblue;
    border: dodgerblue 2px solid;
    transition: background-color 0.5s ease;
}

.contact-me:hover {
    color: white;
    background-color: dodgerblue;
    transition: background-color 0.5s ease;
}

.portrait {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    border: 1px solid white;

    height: 200px;
    width: 200px;

    overflow: hidden;
    display: flex;

    justify-content: center;
    align-items: center;
}

.me {
    margin-top: 35px;
    height: 120%;
    width: 100%;

    max-width:150%;
    max-height:150%;
}

.interested {
    margin-top: 20px;
}

.center-page a {
    color: dodgerblue;
}
