.project-image {
    border-radius: 10px;
    width: 30%;
    transition: transform .5s ease;
    transform: scale(1);
}

.project-image:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
}

.row {
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
}

.row img {
    margin-top: 8px;
    width: 450px;
}