.project-image {
    border-radius: 10px;
    width: 30%;
    transition: transform .5s ease;
    transform: scale(1);
}

.project-image:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
}

.row {
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
}

.row img {
    margin-top: 8px;
    width: 420px;
}

.image-header {
     color: white;
     font-size: 20px;
     position: absolute;
     top: 85%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
 }

.image-text {
    padding-top: 20px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.3;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container {
    position: relative;
}