.project-image {
    border-radius: 10px;
    width: 30%;
    transition: transform .5s ease;
    transform: scale(1);
}

.project-image:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
}

.column {
    margin-left: auto;
    margin-right: auto;

    flex: 25%;
    max-width: 50%;
}

.column img {
    margin-top: 8px;
    width: 80%;
}