@media only screen and (min-width: 541px) {
    .skill-box{
        display: inline-grid;
        grid-column-gap: 100px;
        margin: auto;
        width: 30%;

        padding: 1em;
    }
}

@media only screen and (max-width: 540px) {
    .skill-box{
        justify-content: center;
    }
}

#skill-icon {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}